# LAB-1 : Introduction to Python

## Data-Structures in Python

Data Structures are the way of storing related datas so that similar operations can be performed.
We will be discussing about List, Tuple, Dictionary.

### 1. List

In [33]:
list_1 = [1,2,3,4,5]
list_2 = [1,2,"Gaurav"]
print(f"list_1: {list_1}")
print(f"list_2: {list_2}")

list_1: [1, 2, 3, 4, 5]
list_2: [1, 2, 'Gaurav']

<b>Question: From a string of characters, count the frequency of each letters?</b>

Method-I

In [2]:
input_string = "apple"
character_freq = {}

for char in input_string:
    if char in character_freq.keys():
        character_freq[char] += 1
    else:
        character_freq[char] = 1
print(character_freq)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

Method-II

In [3]:
from collections import Counter

output_dict = Counter(input_string)
print(output_dict)

Counter({'p': 2, 'a': 1, 'l': 1, 'e': 1})

Method-III

In [7]:
set_of_char = set(input_string)
character_freq = {}

for char in set_of_char:
    character_freq[char] = input_string.count(char)

print(character_freq)

{'e': 1, 'p': 2, 'l': 1, 'a': 1}

## Pandas

<b>Question: Create a pandas dataframe from numpy, store it as CSV and read back with pandas</b>

In [10]:
import pandas as pd
import numpy as np

In [17]:
data = np.random.rand(10,4)

In [25]:
df = pd.DataFrame(data, columns=["a","b","c","d"])
df

          a         b         c         d
0  0.499968  0.294237  0.128515  0.562224
1  0.812394  0.201694  0.356946  0.655741
2  0.716161  0.949434  0.449961  0.148464
3  0.327870  0.769751  0.239381  0.528516
4  0.309326  0.247444  0.160767  0.506881
5  0.998146  0.956276  0.407919  0.596667
6  0.739006  0.585660  0.395550  0.934634
7  0.461526  0.821080  0.179513  0.667303
8  0.696124  0.036770  0.031059  0.690831
9  0.351090  0.842362  0.253007  0.280012

Writing to File

In [26]:
df.to_csv("lab1_pandas.csv")

Reading from File

In [39]:
df_read = pd.read_csv("lab1_pandas.csv",index_col=0)
df_read

          a         b         c         d
0  0.499968  0.294237  0.128515  0.562224
1  0.812394  0.201694  0.356946  0.655741
2  0.716161  0.949434  0.449961  0.148464
3  0.327870  0.769751  0.239381  0.528516
4  0.309326  0.247444  0.160767  0.506881
5  0.998146  0.956276  0.407919  0.596667
6  0.739006  0.585660  0.395550  0.934634
7  0.461526  0.821080  0.179513  0.667303
8  0.696124  0.036770  0.031059  0.690831
9  0.351090  0.842362  0.253007  0.280012